<div class="menu-wrapper" [class.collapsed]="isCollapsed">
    <section class="container-menu" [class.collapsed]="isCollapsed">

    <header>
        <div class="container-logo">
            <img src="assets/logo.png">
            <span>BS Farma</span>
        </div>

        <div class="container-perfil">
            @if(user() && user()?.image) {
            <img [src]="user()?.image" height="42px" width="42px">
            } @else {
            <i class="pi pi-user text-2xl"></i>
            }
            <div class="flex flex-column">
            <span>{{user()?.nome}}</span>
            <small class="text-yellow">{{user()?.perfil}}</small>
            </div>
            <div class="card flex justify-center">
              <p-menu #menu [model]="itemsProfile" [popup]="true" appendTo="body" />
              <p-button text (click)="menu.toggle($event)" icon="pi pi-ellipsis-v"/>
            </div>
        </div>
    </header>

    <aside class="container-items">
      <p-menu [model]="items">
        <ng-template pTemplate="item" let-item>
        <a
          pRipple
          class="menu-item"
          [routerLink]="item.routerLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
            <i [class]="item.icon + ' item-icon'"></i>
            <span class="item-label">{{ item.label }}</span>
             @if(item.badge) {
              <p-badge class="ml-auto" [value]="item.badge" />
            } 
          </a>
        </ng-template>

        <ng-template pTemplate="submenuheader" let-item>
          <span class="group-label">{{ item.label }}</span>
        </ng-template>
      </p-menu>
    </aside>

    <footer class="container-footer">
        <small class="power">Powered by </small>
        <small>ALPHA © 2026</small>
    </footer>
    </section>


  <button class="collapse-btn" (click)="toggleMenu()" [title]="isCollapsed ? 'Expandir menu' : 'Colapsar menu'">
    <i class="pi" [class]="isCollapsed ? 'pi-angle-right' : 'pi-angle-left'"></i>
  </button>

</div>