<div class="container mb-3">
    <div class="flex gap-3">
        @if(alert().tipo === 'Vencimento') {
        <div class="box-icon box-red">
            <i class="pi pi-calendar"></i>
        </div>
        } @else {
        <div class="box-icon box-yellow">
            <i class="pi pi-home"></i>
        </div>
        }

        <div class="flex flex-column gap-1">
            @if(alert().tipo === 'Vencimento') {
            <h4 class="m-0">Lote vence em {{alert().dias_vencimento}} dias - {{alert().nome_medicamento}}</h4>
            <small>Lote {{alert().nome_lote}} - Validade: {{alert().validade | date : 'dd/MM/yyyy'}}</small>
            } @else {
            <h4 class="m-0">Estoque abaixo do mínimo - {{alert().nome_medicamento}}</h4>
            <small>Estoque atual {{alert().estoque_atual}} - Mínimo: {{alert().estoque_minimo}}</small>
            }
            <div class="flex gap-3">
                <small class="tag" [class]="getTag(alert().tipo)">{{alert().tipo}}</small>
                <small class="tag" [class]="getTag(alert().status)">{{alert().status}}</small>
            </div>
        </div>
    </div>

    <div class="flex flex-column gap-1">
        <div>Gerado: {{alert().gerado_em | date: 'dd/MM/yyyy'}}</div>
        <p-button label="Marcar resolvido" />
    </div>
</div>