.container {
    border-radius: 10px;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
    align-items: center;
}

.container.border-red {
    border-color: #ef4444;
}

.container.border-yellow {
    border: var(--border-yellow);
}

.container.border-green {
    border-color: #22c55e;
}

.container.border-blue {
    border: var(--border-blue);
}

.container.border-orange {
    border-color: #f97316;
}

.container.border-gray {
    border-color: #9ca3af;
}


.box-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 1.2rem;
    }
}

.box-icon.box-red {
    background: #fee2e2;

    i {
        color: #ef4444;
    }
}

.box-icon.box-yellow {
    background: #fef9c3;

    i {
        color: #eab308;
    }
}

.box-icon.box-green {
    background: #dcfce7;

    i {
        color: #22c55e;
    }
}

.box-icon.box-blue {
    background: var(--color-blue);

    i {
        color: var(--text-color-blue);
    }
}

.box-icon.box-orange {
    background: #ffedd5;

    i {
        color: #f97316;
    }
}

.box-icon.box-gray {
    background: #f3f4f6;

    i {
        color: #6b7280;
    }
}


.tag {
    border-radius: 15px;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 500;
}

.tag-red {
    background: #fee2e2;
    color: #b91c1c;
}

.tag-yellow {
    background: #fef9c3;
    color: #a16207;
}

.tag-green {
    background: #dcfce7;
    color: #15803d;
}

.tag-blue {
    background: #dbeafe;
    color: var(--text-color-blue);
}

.tag-orange {
    background: #ffedd5;
    color: #c2410c;
}

.tag-gray {
    background: #f3f4f6;
    color: #4b5563;
}