.container {
    background: var(--slate-3);
    border-radius: 10px;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.box-icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 18px;
    }
}

.box-icon.box-red {
    background: var(--color-red);

    i {
        color: var(--primary-red)
    }
}

.box-icon.box-yellow {
    background: var(--color-yellow);

    i {
        color: var(--primary-yellow)
    }
}

.box-icon.box-green {
    background: var(--color-green);

    i {
        color: var(--primary-green)
    }
}


.tag-red {
    background: var(--color-red);
    color: var(--primary-red);
    border-radius: 15px;
    padding: 2px 8px;
}

.tag-green {
    background: var(--color-green);
    color: var(--primary-green);
    border-radius: 15px;
    padding: 2px 8px;
}

.tag-yellow {
    background: var(--color-yellow);
    color: var(--primary-yellow);
    border-radius: 15px;
    padding: 2px 8px;
}