<div class="container">
    <div class="col-12 md:col-6 content">
        <div class="container-img">
            <img class="logo" src="assets/logo_bsfarma.svg">
            <!-- <span class="logo-tipo">BS <span class="font-semibold">farma</span></span> -->
        </div>
        <app-login (onChangeLogin)="submit($event)"/>
    </div>

    <footer class="footer-auth">
        <span class="flex gap-2 align-items-center">
            <span class="material-symbols-outlined">corporate_fare</span>
            Sistema de gestão de insumos farmacêuticos.
        </span>
        <span class="bold">v1.0</span>
    </footer>
</div>