.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.content{
    background: var(--bg-auth);
    width: 450px;
    height: 450px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}