<section class="container-card" [class]="cardData().color">
    <header class="header-card">
        <span class="material-symbols-outlined material-icon">
            {{cardData().icon}}
        </span>
        <span class="text-xl font-bold">{{cardData().value}}</span>
        <small>{{cardData().label}}</small>
    </header>

    <footer class="footer-card flex justify-content-center align-items-center gap-2 cursor-pointer" [routerLink]="cardData().route">
        <small>{{cardData().labelRoute}}</small>
        <i class="pi pi-angle-double-right"></i>
    </footer>
</section>