<div class="list-toolbar">
    <p-iconfield iconPosition="left">
        <p-inputicon>
            <i class="pi pi-search"></i>
        </p-inputicon>
        <input pInputText type="text" (input)="searchTerm.set($event.target.value)" placeholder="Buscar" />
    </p-iconfield>
</div>

<div class="cards-grid">
    @for (item of filteredList(); track item.codigo) {
        <div class="card entity-card">

            <div class="entity-card-header">
                <div class="entity-avatar">
                    <i class="pi pi-user"></i>
                </div>

                <div class="entity-info">
                    <div class="entity-title">{{ item.codigo }}</div>
                    <p-tag [value]="item.ativo ? 'Ativo' : 'Inativo'" [severity]="item.ativo ? 'success' : 'danger'" />
                </div>

                <div class="entity-actions">
                    <p-button icon="pi pi-pencil" rounded text severity="warn" (click)="goToEdit(item)" />
                    <p-button icon="pi pi-trash" rounded text severity="danger" (click)="deleteItem(item)" />
                </div>
            </div>

            <p class="entity-desc">{{ item.condicao_clinica }}</p>

            @if (!isMobile()) {
                <div class="entity-meta">
                    <small>Criado em {{ item.criado_em | date:'dd/MM/yyyy' }}</small>
                    <small>Atualizado em {{ item.atualizado_em | date:'dd/MM/yyyy' }}</small>
                </div>
            }

        </div>
    } @empty {
        <div class="empty-state">Nenhum paciente encontrado.</div>
    }
</div>
