<div>
    <header>
        <small class="px-5 text-obs">Lista de medicamentos.</small>
    </header>
    <div class="card relative">
        <p-tabs value="0">
            <p-tablist>
                <p-tab value="0">Todos</p-tab>
                <p-tab value="1">Ativos</p-tab>
                <p-tab value="2">Inativos</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <app-table-medicines [listMedicine]="listMedicine()" />
                </p-tabpanel>
                <p-tabpanel value="1">
                    <app-table-medicines [listMedicine]="listActive()" />
                </p-tabpanel>
                <p-tabpanel value="2">
                    <app-table-medicines [listMedicine]="listInactive()" />
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
        <div class="btn-add">
            <p-button severity="danger" label="Adicionar Medicamento" icon="pi pi-plus"
                routerLink="/catalog/form-medicine" />
        </div>
    </div>

</div>