<div>
    <header>
        <small class="px-5 text-obs">Lista de medicamentos.</small>
    </header>
    <div class="card relative">
        <p-tabs value="0">
            <p-tablist>
                <p-tab value="0">Todos</p-tab>
                <p-tab value="1">Ativos</p-tab>
                <p-tab value="2">Inativos</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <app-table-medicines [listMedicine]="listMedicine()" />
                </p-tabpanel>
                <p-tabpanel value="1">
                    <app-table-medicines [listMedicine]="listActive()" />
                </p-tabpanel>
                <p-tabpanel value="2">
                    <app-table-medicines [listMedicine]="listInactive()" />
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
        <div class="btn-add">
            <p-button 
            label="Adicionar Medicamento" 
            icon="pi pi-plus"
            (click)="showDialog('create')" />
        </div>
    </div>

</div>

<p-dialog
[(visible)]="isVisible"
[modal]="true"
[draggable]="false"
[resizable]="false"
[style]="{width: '40rem'}"
(onHide)="closeModal()"
[header]="typeDialog() === 'create' ? 'Cadastro de Medicamento' : 'Editar Medicamento'"
>
@if(isVisible()) {
    <app-form-medicine 
    [(isVisible)]="isVisible"
    (onChangeCreate)="submit($event)"
    (onChangeUpdate)="update($event)"
    [(typeDialog)]="typeDialog"
    [(medicine)]="viewMedicine"
    />
}
</p-dialog>