.container {
    background: var(--bg-header);
    height: 60px;
    padding: 10px 10px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
}