.custom-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1101;
}

::ng-deep .p-blockui {
  background: rgba(1, 24, 36, 0.25) !important;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}