@use 'variables.scss';

:root {
    html body {
        font-family: "Lexend Deca", sans-serif;
        margin: 0;
        padding: 0;
    }

    .text-obs {
        color: #475569;
    }

    .p-tabs {
        padding: 0 2rem !important;
    }

    .p-tabpanels {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .box-card {
        // box-shadow: 0px 6px 50px -16px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 26px;
        margin: 1.5rem
    }



    // datatable
    .p-datatable-tbody>tr>td {
        text-align: start;
        border-color: var(--p-datatable-body-cell-border-color);
        border-style: solid;
        border-width: 0 0 1px 0;
        padding: 0.3rem 0.5rem;
    }
}


html,
body {
    height: 100%;
    min-height: 100dvh;
}

body {
    margin: 0;
    font-family: "Lexend Deca", "Helvetica Neue", sans-serif;
}