@use 'variables.scss';

:root {
    html body {
        font-family: "Lexend Deca", sans-serif;
        margin: 0;
        padding: 0;
    }

    .text-obs {
        color: #475569;
    }

    .p-tabs {
        padding: 0 2rem !important;
    }

    .p-tabpanels {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}


html,
body {
    height: 100%;
    min-height: 100dvh;
}

body {
    margin: 0;
    font-family: "Lexend Deca", "Helvetica Neue", sans-serif;
}