:root {
    --primary-green: #01A768;
    --primary-blue: #03A9F5;
    --primary-yellow: #a88e04;
    --primary-red: #F0483E;


    --ocean-blue: #4C8EA9;
    --ocean-blue-secondary: #ecfeff;

    --slate-3: #EDF1F5;

    --border-green: 1px solid #01A768;
    --border-blue: 1px solid #03A9F5;
    --border-yellow: 1px solid #a88e04;
    --border-red: 1px solid #F0483E;

    --color-green: #01A7684D;
    --color-blue: #03A9F54D;
    --color-yellow: #FED6004D;
    --color-red: #F0483E4D;

    --text-color-green: var(--primary-green);
    --text-color-blue: var(--primary-blue);
    --text-color-yellow: var(--primary-yellow);
    --text-color-red: var(--primary-red);

    --color-white: #fff;

    --bg-menu: var(--ocean-blue);
    --bg-header: var(--ocean-blue);
    --bg-auth: var(--ocean-blue);
    --bg-color: var(--color-white);

    --bg-card-green: var(--color-green);
    --bg-card-blue: var(--color-blue);
    --bg-card-yellow: var(--color-yellow);
    --bg-card-red: var(--color-red);

    --border-card-green: var(--border-green);
    --border-card-blue: var(--border-blue);
    --border-card-yellow: var(--border-yellow);
    --border-card-red: var(--border-red);



    // variveis para os cards reutilizaveis


    /* Cyan */
    --border-card-cyan: 1px solid #67e8f9;
    --bg-card-cyan: #ecfeff;
    --text-color-cyan: #0891b2;

    /* Purple */
    --border-card-purple: 1px solid #c4b5fd;
    --bg-card-purple: #f5f3ff;
    --text-color-purple: #7c3aed;

    /* Orange */
    --border-card-orange: 1px solid #fdba74;
    --bg-card-orange: #fff7ed;
    --text-color-orange: #ea580c;

    /* Pink */
    --border-card-pink: 1px solid #f9a8d4;
    --bg-card-pink: #fdf2f8;
    --text-color-pink: #db2777;

    /* Teal */
    --border-card-teal: 1px solid #5eead4;
    --bg-card-teal: #f0fdfa;
    --text-color-teal: #0f766e;
}