<p-table [value]="listMedicine()">
    <ng-template #header>
        <tr>
            <th pSortableColumn="nomeGenerico" style="width:20%">
                <div class="flex items-center gap-2">
                    Nome genérico
                    <p-sortIcon field="nomeGenerico" />
                </div>
            </th>
            <th pSortableColumn="nomeComercial" style="width:20%">
                <div class="flex items-center gap-2">
                    Nome comercial
                    <p-sortIcon field="nomeComercial" />
                </div>
            </th>
            <th pSortableColumn="formaFarmaceutica" style="width:20%">
                <div class="flex items-center gap-2">
                    Forma farm.
                    <p-sortIcon field="formaFarmaceutica" />
                </div>
            </th>
            <th pSortableColumn="concentracao" style="width:20%">
                <div class="flex items-center gap-2">
                    Concentração
                    <p-sortIcon field="concentracao" />
                </div>
            </th>

            <th pSortableColumn="viaAdministracao" style="width:20%">
                <div class="flex items-center gap-2">
                    Via
                    <p-sortIcon field="viaAdministracao" />
                </div>
            </th>

            <th pSortableColumn="ativo" style="width:20%">
                <div class="flex items-center gap-2">
                    Status
                    <p-sortIcon field="ativo" />
                </div>
            </th>

            <th pSortableColumn="acao" style="width:20%">
                <div class="flex items-center gap-2">
                    Ação
                    <p-sortIcon field="acao" />
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-item>
        <tr>
            <td>{{ item.nomeGenerico }}</td>
            <td>{{ item.nomeComercial }}</td>
            <td>{{ item.formaFarmaceutica }}</td>
            <td>{{ item.concentracao }}</td>
            <td>{{ item.viaAdministracao }}</td>
            <td>
                <span [class]="item.ativo ? 'item-active' : 'item-inactive'">
                    {{ item.ativo ? 'Ativo' : 'Inativo' }}
                </span>
            </td>
            <td>
                <span class="flex gap-1">
                    <small>Detalhes</small>
                    <i class="pi pi-angle-double-right"></i>
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>