<div class="menu-wrapper" [class.collapsed]="isCollapsed">
    <section class="container-menu" [class.collapsed]="isCollapsed">

    <header>
        <div class="container-logo">
            <img src="assets/logo.png">
            <span>BS Farma</span>
        </div>

        <div class="container-perfil">
            @if(user() && user()?.image) {
            <img [src]="user()?.image" height="42px" width="42px">
            } @else {
            <i class="pi pi-user text-2xl"></i>
            }
            <div class="flex flex-column">
            <span>{{user()?.nome}}</span>
            <small class="text-yellow">{{user()?.perfil}}</small>
            </div>
            <i class="pi pi-ellipsis-v"></i>
        </div>
    </header>

    <aside class="container-items">
        <p-panelmenu [model]="items">
        <ng-template pTemplate="header" let-item>
        <a
        pRipple
        class="flex items-center px-4 py-2 cursor-pointer group menu-item"
        [class.active]="isActive(item)"
        (click)="selectItem(item)"
        >
        <i [class]="item.icon + ' item-icon'"></i>
        <span class="ml-2 item-label">{{ item.label }}</span>

        @if(item.badge) {
            <p-badge class="ml-auto" [value]="item.badge"></p-badge>
        }
        @if(item.shortcut) {
            <span class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">
            {{ item.shortcut }}
            </span>
        }
        </a>
        </ng-template>

        <ng-template pTemplate="item" let-item>
            <a
            pRipple
            class="flex items-center px-4 py-2 cursor-pointer group menu-item"
            [class.active]="isActive(item)"
            (click)="selectItem(item)"
            >
            <i [class]="item.icon + ' item-icon'"></i>
            <span class="ml-2 item-label">{{ item.label }}</span>

            @if(item.badge) {
                <p-badge class="ml-auto" [value]="item.badge"></p-badge>
            }
            @if(item.shortcut) {
                <span class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">
                {{ item.shortcut }}
                </span>
            }
            </a>
        </ng-template>
        </p-panelmenu>
    </aside>
    </section>


  <button class="collapse-btn" (click)="toggleMenu()" [title]="isCollapsed ? 'Expandir menu' : 'Colapsar menu'">
    <i class="pi" [class]="isCollapsed ? 'pi-angle-right' : 'pi-angle-left'"></i>
  </button>

</div>